{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "import/no-unresolved": [2, { "ignore": ["^@nested"] }]
  }
}
